<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- configurações com bando de dados MYsql-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/banco</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin852</property>

        <!-- pool de conexoes -->
        <property name="connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- gerenciamento do contexto das sessões -->
        <property name="current_session_context_class">thread</property>

        <!-- cash de segundo nivel  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- mostra sqls geradas -->
        <property name="show_sql">true</property>

        <!-- cria tabelas do banco de dados-->
        <property name="hbm2ddl.auto">validade</property>
        
        <mapping class="com.ciadainformatica.vendas.domain.Recebimento"/>
		<mapping class="com.ciadainformatica.vendas.domain.Dinheiro"/>
		<mapping class="com.ciadainformatica.vendas.domain.Cidade"/>
        <mapping class="com.ciadainformatica.vendas.domain.Cliente"/>
        <mapping class="com.ciadainformatica.vendas.domain.Estado"/>
        <mapping class="com.ciadainformatica.vendas.domain.Fabricante"/>
        <mapping class="com.ciadainformatica.vendas.domain.Funcionario"/>
        <mapping class="com.ciadainformatica.vendas.domain.ItemVenda"/>
        <mapping class="com.ciadainformatica.vendas.domain.Pessoa"/>
        <mapping class="com.ciadainformatica.vendas.domain.Produto"/>
		<mapping class="com.ciadainformatica.vendas.domain.Usuario"/>
		<mapping class="com.ciadainformatica.vendas.domain.Venda"/>
		
		<mapping class="com.ciadainformatica.vendas.domain.Crediario"/>
		<mapping class="com.ciadainformatica.vendas.domain.TipoDeVenda"/>

		
    </session-factory>

</hibernate-configuration>